
@{
    ViewData["Title"] = "NotLogged";
}

<h1 class="text-center">Welcome to Chat-Hub!</h1>
<h3>To be able for a chat, first you have to be logged in your account. So register or Login first please.</h3>

